version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: qsp_redis

  web:
    build: .
    container_name: qsp_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env.dev
    depends_on:
      - redis
